body{
  background-color: rgb(225, 239, 239);
  margin: 12px;
  align-items: center;
display: flex;
 justify-content: center;
margin-top:  100px;
}

h1{
  background-color: rgb(127, 217, 217);
  padding: 10px;
  margin: 20px;
  
}

button{
  color: black;
  background-color: rgb(193, 187, 187);
  border-radius: 10px;
}

button:hover{
  background-color: rgb(136, 173, 210);
  cursor: pointer;
}

h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.homepg{
  background-color: aliceblue;
  padding: 220px;
  border-radius: 5%;
  border-style: double;
  border-color: rgb(135, 135, 192);
box-shadow: 10px 10px 10px black;
}